@tailwind base;
@tailwind components;
@tailwind utilities;

#root .ql-container {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	background: transparent;
	font-size: 14px;
	color: black;
	border: 1px solid rgb(209, 209, 209);
}

#root .ql-snow.ql-toolbar {
	display: block;
	background: rgb(243, 244, 246);
	border: 1px solid rgb(209, 209, 209);
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
	border-bottom: none;
}

#root .ql-snow.ql-toolbar button svg {
	color: black;
}

#root .ql-container.dark {
	color: white;
	border: 1px solid rgb(108, 114, 127);
}

#root .ql-snow.ql-toolbar.dark {
	background: rgb(75, 85, 99);
	border: 1px solid rgb(108, 114, 127);
	border-bottom: none;
}

#root .ql-snow.ql-toolbar button svg.dark {
	color: white;
}

#root .ql-editor {
	min-height: 125px;
}
